*{
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.container {
    background-image: url(images/qa-bg-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.container .inputQR {
    width: 45%;
    display: none;
}
.container .QR {
    display: none;
}
.container .activePage {
    display: block;
}

.container .inputQR form {
    width: 100%;
    background-color: #030616;
    padding: 4px 10px;
    border-radius: 18px;
    border: 2px solid #263FA9;
    display: flex;
    margin-top: 20px;
}

.container .inputQR form input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #F2F5F9;
}
.container .inputQR form button {
    background-color: #263FA9;
    border: none;
    padding: 15px 25px;
    border-radius: 13px;
    font-weight: bold;
    color: #F2F5F9;
    cursor: pointer;
}

.container .QR img.logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.container .QR #qrcode {
    width: 190px;
    height: 190px;
    background-color: #FAFAF9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container .QR #qrcode::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #F8FAFC1A;
    left: -15.5%;
    top: -30px;
    z-index: 0;
    border-radius: 50%;
}
.container .QR .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.container .QR .btns button {
    background-color: #263FA9;
    border: none;
    padding: 15px 40px;
    border-radius: 8px;
    color: #FAFAF9;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width:640px) {
    .container .inputQR {
        width: fit-content;
    }
}